*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.conv.*
*.weights
*.so
*.backup
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
backup/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
